:root {
  --color-primario:#FFC93C;
  --color-secundario:#9C19E0;
  --boton-padding: 20px 40px
; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Enriqueta', serif; }

.hero {
  height: 100vh;
  background-image: url(../img/hero.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative; }
  .hero .navbar {
    width: 100%;
    justify-content: space-between; }
  .hero .logo {
    margin-left: 25px; }
  .hero .bg-light {
    background-color: transparent !important; }
  .hero .navbar-brand {
    color: white !important; }
  .hero .navbar-toggler {
    background-color: white;
    font-size: 1rem; }
  .hero .navbar-nav {
    position: absolute;
    right: 10%; }
    .hero .navbar-nav li a {
      color: white !important; }
      .hero .navbar-nav li a:hover {
        background-color: var(--color-secundario) !important;
        color: white !important; }
  .hero .hero__subtitulo {
    color: var(--color-secundario);
    text-align: center;
    margin-top: 50px; }
  .hero h1 {
    font-family: 'Quicksand', sans-serif;
    color: var(--color-secundario);
    margin-top: 140px;
    font-size: 6rem;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800; }
  .hero .hero__cta {
    border: 1px solid var(--color-secundario); }
  .hero .hero__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; }

.subtitulo2 {
  color: var(--color-primario);
  font-size: 2.5rem;
  margin-bottom: 70px;
  margin-top: 65px;
  text-align: center; }

/*sobre nosotros*/
.presentacion-conteiner {
  padding-top: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .presentacion-conteiner .presentacion__imagen {
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10px;
    order: 2; }
  .presentacion-conteiner .sobrenosotros-texto {
    align-self: center; }
    .presentacion-conteiner .sobrenosotros-texto .presentacion__copia {
      width: 80%;
      margin: 0 auto;
      font-size: 1.5rem; }
    .presentacion-conteiner .sobrenosotros-texto .presentacion__cta {
      display: inline-block;
      margin-top: 30px;
      background: var(--color-secundario);
      color: white;
      text-decoration: none;
      padding: var(--boton-padding);
      border-radius: 40px; }
      .presentacion-conteiner .sobrenosotros-texto .presentacion__cta:hover {
        background-color: var(--color-primario);
        color: var(--color-secundario); }

/*servicios*/
.servicio-conteiner {
  width: 80%;
  margin: 0 auto; }
  .servicio-conteiner .servicio__texto {
    font-size: 1.5rem; }
  .servicio-conteiner .servicios {
    margin-top: 10%;
    margin-bottom: 10%; }
  .servicio-conteiner .servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .servicio-conteiner .servicio-ind {
    width: 28%;
    text-align: center; }
    .servicio-conteiner .servicio-ind img {
      width: 100%; }
    .servicio-conteiner .servicio-ind h3 {
      margin: 10px 0; }

/*Contactar*/
.contactanos .contactar {
  margin-top: 10%;
  margin-bottom: 10%; }

.contacto-contenedor {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  display: grid;
  grid-template-columns: 2fr 1fr; }
  .contacto-contenedor .contacto-form form {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .contacto-contenedor .contacto-form form .block {
      grid-column: 1 / 3; }
    .contacto-contenedor .contacto-form form p {
      margin: 0;
      padding: 1em; }
    .contacto-contenedor .contacto-form form input {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      border-bottom: 1px solid var(--color-secundario); }
    .contacto-contenedor .contacto-form form textarea {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      border-bottom: 1px solid var(--color-secundario); }
  .contacto-contenedor .contacto-form button {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    border-bottom: 1px solid var(--color-primario);
    background: var(--color-secundario);
    color: white;
    border: 0;
    text-transform: uppercase;
    padding: 1em; }
    .contacto-contenedor .contacto-form button:hover, .contacto-contenedor .contacto-form button:focus {
      background: var(--color-primario);
      color: var(--color-secundario);
      transition: background-color 1s  ease-out;
      outline: 0; }
  .contacto-contenedor .contacto-info {
    background-color: var(--color-secundario);
    color: white; }
    .contacto-contenedor .contacto-info h3, .contacto-contenedor .contacto-info ul, .contacto-contenedor .contacto-info p {
      text-align: left;
      margin: 0 0 1rem 0;
      padding: 1em; }
    .contacto-contenedor .contacto-info ul {
      list-style: none;
      padding: 1em; }
      .contacto-contenedor .contacto-info ul li {
        padding: .3em; }

.contacto-contenedor > * {
  padding: 2em; }

/*FOOTER*/
.footer {
  background-color: var(--color-primario);
  height: 200px;
  margin-top: 80px; }
  .footer .footer__grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center; }
    .footer .footer__grid .nav--footer {
      font-weight: 300;
      justify-content: start;
      margin-left: 5%; }
      .footer .footer__grid .nav--footer .nav__items {
        color: var(--color-secundario);
        text-decoration: none;
        margin-right: 20px;
        padding: 15px 20px; }
        .footer .footer__grid .nav--footer .nav__items:hover {
          color: white; }
      .footer .footer__grid .nav--footer .nav__items--footer {
        padding: 10px;
        margin-right: 30px;
        margin-top: 60px; }
    .footer .footer__grid .footer__iconos {
      display: flex;
      justify-content: space-around;
      margin-top: 10%; }
      .footer .footer__grid .footer__iconos .footer__conteiner-icons {
        display: inline-block;
        width: 60px;
        height: 60px;
        color: white;
        text-align: center;
        border: 1px solid white;
        border-radius: 50%; }
        .footer .footer__grid .footer__iconos .footer__conteiner-icons .footer__icono {
          color: var(--color-secundario);
          font-size: 30px;
          text-decoration: none;
          line-height: 60px; }
          .footer .footer__grid .footer__iconos .footer__conteiner-icons .footer__icono:hover {
            color: white; }
          .footer .footer__grid .footer__iconos .footer__conteiner-icons .footer__icono .fab {
            line-height: 60px; }
  .footer h6 {
    color: white;
    text-align: center;
    margin-top: 3%; }

.carousel-item {
  width: 50%;
  left: 25%; }

.carousel-control-next, .carousel-control-prev {
  visibility: visible;
  color: var(--color-secundario);
  font-size: 4rem;
  font-weight: 800; }
  .carousel-control-next:hover, .carousel-control-prev:hover {
    color: var(--color-secundario); }

/*HEADER*/
@media only screen and (max-width: 700px) {
  .hero h1 {
    font-size: 5rem; }
  .hero__subtitulo {
    font-size: 1.8rem; } }

@media only screen and (max-width: 990px) {
  .hero .navbar-toggler {
    background-color: var(--color-secundario); } }

/*MAIN*/
/*sobre nosotros*/
@media only screen and (max-width: 1340px) {
  .presentacion-conteiner {
    display: flex;
    flex-direction: column; }
    .presentacion-conteiner .presentacion__imagen {
      margin: auto; } }

@media only screen and (max-width: 720px) {
  .presentacion-conteiner .presentacion__imagen {
    width: 80%; }
  .presentacion-conteiner .sobrenosotros-texto {
    font-size: 0.5rem; }
  .presentacion-conteiner .presentacion__cta {
    font-size: 1rem; } }

/*servicios*/
@media only screen and (max-width: 1087px) {
  .servicio-conteiner .servicio-cont {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .servicio-conteiner .servicio-ind {
    width: 80%; }
    .servicio-conteiner .servicio-ind img {
      width: 70%;
      margin-top: 15%; }
    .servicio-conteiner .servicio-ind h3 {
      font-size: 2rem;
      border-bottom: 5px solid var(--color-primario);
      margin-bottom: 5%; }
  .servicio-conteiner .servicio__texto {
    font-size: 1.5rem; } }

/*contactar*/
@media only screen and (max-width: 957px) {
  .contacto-contenedor {
    display: block; } }

@media only screen and (max-width: 1090px) {
  .footer {
    height: 350px; }
    .footer .footer__grid {
      display: block; }
      .footer .footer__grid .nav--footer {
        margin-left: 25%; }
    .footer h6 {
      text-align: center; } }

/*footer*/
@media only screen and (max-width: 948px) {
  .footer .footer__grid {
    display: block; }
    .footer .footer__grid .nav--footer {
      margin-left: 50px; } }

@media only screen and (max-width: 670px) {
  .footer .footer__grid {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .footer .footer__grid .nav--footer {
      display: flex;
      flex-direction: column;
      margin-left: 80px;
      margin-top: 50px; }
      .footer .footer__grid .nav--footer .nav__items {
        padding: 10px;
        margin: 0; }
  .footer .footer__iconos {
    margin-right: 80px; }
  .footer h6 {
    text-align: center; } }

@media only screen and (max-width: 570px) {
  .footer .footer__conteiner-icons {
    display: none; } }
